<div class="row">
    <div class="card ich" style="width: 18rem;">
        <img src="https://i.pinimg.com/originals/eb/56/88/eb5688c2ead786d82f194048521b232a.png" class="card-img-top"
            alt="">
        <div class="card-body">
            <h5 class="card-title">Ichigo</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-dark">Voir le profil</a>
        </div>
    </div>

    <div class="card ul" style="width: 18rem;">
        <img src="https://i.pinimg.com/originals/d6/7d/1e/d67d1e5ce98c782f8ae74558a1261c42.jpg" class="card-img-top"
            alt="...">
        <div class="card-body">
            <h5 class="card-title">Ulquiorra</h5>
            <p class="card-text"></p>
            <a  class="btn btn-dark">Voir le profil</a>
        </div>
    </div>
</div>